/* common css */

  
/* .content-main {
  max-width: 360px;
} */
 /* common class */
 
/* .page-title {
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
  } */
  
  /* .page-subtitle {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: "Nunito Sans", sans-serif;
  } */
  /* .page-description {
    color: #fff;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    font-family: "Nunito Sans", sans-serif;
  } */
  /* .page-small-description {
    color: #5c727d;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    font-family: "Nunito Sans", sans-serif;
  } */
  